@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
    --bg-color: #fff;
    --text-color: #111;
    --second-text-color: gray;
    --font: "Sora", sans-serif;
    /* --box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    --box-shadow: 0px 0px 0.7px -6px rgba(0, 0, 0, 0.081),
        0px 0px 1.7px -6px rgba(0, 0, 0, 0.115),
        0px 0px 3.5px -6px rgba(0, 0, 0, 0.145),
        0px 0px 7.3px -6px rgba(0, 0, 0, 0.179),
        0px 0px 20px -6px rgba(0, 0, 0, 0.26);
    --inset-shadow: inset 0 0 5px -3px rgba(0, 0, 0, 0.5);

    --bg-img: url("./assets/arrow-dark.png") no-repeat right;
    --speaker-img : url('./assets/speaker/speaker-dark.png') no-repeat center;
}
.dark-mode {
    --bg-color: #282c34;
    --text-color: #fff;
    --second-text-color: gray;
    --box-shadow: 0 0 5px rgba(225, 225, 225, 0.9);
    --inset-shadow: inset 0 0 5px -3px rgba(225, 225, 225, 1);
    --bg-img: url("./assets/arrow-light.png") no-repeat right;
    --speaker-img : url('./assets/speaker/speaker-light.png') no-repeat center;

}

* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: color 500ms ease-in-out;
}

body::-webkit-scrollbar {
    width: 0;
}

#root {
    min-height: 110vh;
    position: relative;
    margin: 0 auto;
    background-color: var(--bg-color);
}

.theme-icon {
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 100px;
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    opacity: 1;
    z-index: 100;
}

.theme-icon img {
    position: relative;
    margin: 0;
    padding: 0;
    width: 30px;
    border-radius: 100px;
}

/* Footer */

footer.footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    width: 100%;

}

.footer p a{
    text-decoration: none;
    color: var(--second-text-color);
    margin: 0 5px;
    text-transform: capitalize;
}

.footer p a:hover,
.footer p a:focus{
    text-decoration: underline;
    color: rgb(146, 146, 255);
}
